/* 
GRID GUIDE : -

https://css-tricks.com/snippets/css/complete-guide-grid/ 

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    background-color: rgb(32, 30, 30);
    display: grid;
    padding: 50px;
    row-gap: 10px;
}
.item{
    background-color: rgb(104, 104, 181);
    border: 5px solid black;
}

.container1{
    height: 100%;
    width: 100%;
    background-color: rgb(32, 30, 30);
    display: grid;
    padding: 50px;
    row-gap: 10px;

    grid-template-rows: 100px 100px;  /*2 rows*/
    grid-template-columns: 100px 100px 100px;  /*3 columns*/
    column-gap: 1rem;

    /*short hand for row and column gap : gap: 1rem;*/
}

.container2{
    height: 100%;
    width: 100%;
    background-color: rgb(32, 30, 30);
    display: grid;
    padding: 50px;
    row-gap: 10px;

    grid-template-rows: 1fr 1fr; /*can also written as grid-template-rows: repeat(2,1fr);*/
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;

    /*fractional unit (fr) is a unit of measurement that represents a fraction of the available space in a grid layout.

    - When multiple columns or rows are set to 1fr, they each take up an equal amount of space

    - What is fr?
        fr stands for fraction.

        It is used to allocate space proportionally within a grid container.

        It's only valid in grid layouts, not in flexbox or other layout systems.
        
    - When to use fr:
        When you want flexible and responsive layouts.

        When you don’t want to calculate percentages or fixed widths manually.

        When you want to avoid horizontal scrolling due to hardcoded widths.*/
}

.container3{
    height: 100%;
    width: 100%;
    background-color: rgb(32, 30, 30);
    display: grid;
    padding: 50px;
    row-gap: 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
}

.header{
    grid-column-start: 1;
    grid-column-end: 4;
    /*expanding one cell(header) from 1 to 4*/
}

.container4{
    height: 100%;
    width: 100%;
    background-color: rgb(32, 30, 30);
    display: grid;
    padding: 50px;
    row-gap: 10px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
}

.container5{
    height: 100%;
    width: 100%;
    background-color: rgb(32, 30, 30);
    display: grid;
    padding: 50px;
    row-gap: 10px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
}
.header, .footer{
    grid-column-start: 1;
    grid-column-end: 4;
    /*expanding one cell(header and footer) from 1 to 4*/
}

.container6{
    height: 100%;
    width: 100%;
    background-color: rgb(32, 30, 30);
    display: grid;
    padding: 50px;
    row-gap: 10px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
}

.container7{
    height: 100%;
    width: 100%;
    background-color: rgb(32, 30, 30);
    display: grid;
    padding: 50px;
    row-gap: 10px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
}
.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
    
}

.container8{
    height: 100%;
    width: 100%;
    background-color: rgb(32, 30, 30);
    display: grid;
    padding: 50px;
    row-gap: 10px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
}
.content1{
    grid-column-start: 2;
    grid-column-end: 4;
}
.item2{
    background-color: rgb(93, 125, 115);
    border: 5px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}



.container9{
    height: 100%;
    width: 100%;
    background-color: #32344c;
    display: grid;
    padding: 50px;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.item3{
    background-color: #8d99ae;
    border: 3px solid black;
}
.header3, .footer3{
    grid-column-start: 1;
    grid-column-end: 6;
}
.sidebar3{
    grid-row-start: 2;
    grid-row-end: 8;
}
.ads{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 8;
}
.content1a, .content8a{
    grid-column-start: 2;
    grid-column-end: 5;
}


.container10{
    min-height: 100%;
    width: 100%;
    background-color: #3e1f47;
    display: grid;
    gap: 10px;
    padding: 50px;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(3, 200px);
}
.item4{
    background-color: #272640;
    border: 3px solid rgb(188, 184, 184);
    height: 100px;
    width: 100px;
    justify-self: center;
}

.container11{
    height: 100%;
    width: 100%;
    background-color: #6fa18bd0;
    display: grid;
    gap: 20px;
    padding: 50px;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 200px);
}
.item5{
    background-color: #272640;
    border: 3px solid rgb(188, 184, 184);
    /* height: 100px;
    width: 100px; */
    justify-self: stretch;
}


.container12{
    height: 100%;
    width: 100%;
    background-color: #597b68;
    display: grid;
    gap: 10px;
    padding: 50px;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 150px);
}
.item6{
    background-color: #272640;
    border: 3px solid rgb(188, 184, 184);
    height: 100px;
    width: 100px;
    /* justify-self: stretch; */
    align-self: end;
}

.container13{
    height: 100%;
    width: 100%;
    background-color: #3a5b4e;
    display: grid;
    gap: 30px;
    padding: 50px;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(3, 140px);
}
.item7{
    background-color: #272640;
    border: 3px solid rgb(188, 184, 184);
    /* height: 100px;
    width: 100px; */
    align-self: stretch;
}

.container14{
    height: 100%;
    width: 100%;
    background-color: #488b97;
    display: grid;
    gap: 10px;
    padding: 50px;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 200px);
}
.item8{
    background-color: #272640;
    border: 3px solid rgb(188, 184, 184);
    height: 100px;
    width: 100px;
    place-self: center;  /*appling both properties of justify and align*/
}

.container15{
    height: 100%;
    width: 100%;
    background-color: #393f5b;
    display: grid;
    gap: 20px;
    padding: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.item9{
    background-color: #272640;
    border: 3px solid rgb(188, 184, 184);
    height: 100px;
    width: 100px;
}

.container16{
    height: 100%;
    width: 100%;
    background-color: #5f4c3f;
    display: grid;
    gap: 20px;
    padding: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: end;
}
.item10{
    background-color: #272640;
    border: 3px solid rgb(188, 184, 184);
    height: 100px;
    width: 100px;
}

.container17{
    height: 100%;
    width: 100%;
    background-color: #4e593d;
    display: grid;
    gap: 20px;
    padding: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: end;
}
.item11{
    background-color: #272640;
    border: 3px solid rgb(188, 184, 184);
    height: 100px;
    width: 100px;
}

.container18{
    height: 100%;
    width: 100%;
    background-color: #674e86;
    display: grid;
    gap: 20px;
    padding: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}
.item12{
    background-color: #272640;
    border: 3px solid rgb(188, 184, 184);
    height: 100px;
    width: 100px;
}

.container19{
    height: 100%;
    width: 100%;
    background-color: #39565b;
    display: grid;
    gap: 20px;
    padding: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
}
.item13{
    background-color: #272640;
    border: 3px solid rgb(188, 184, 184);
    height: 100px;
    width: 100px;
}


/* 
GRID GUIDE : -

https://css-tricks.com/snippets/css/complete-guide-grid/ 

*/